*{
    text-align: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
button{
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    height: 10vmin;
    width: 10vmin;
}
input[type="text"]{
    width: 25%;
    font-size: 24px;
    margin-bottom: 20px;
}